# string based problems

In [1]:
#1.reverse a string
s1= ('full stack of data science')
s1[::-1]

'ecneics atad fo kcats lluf'

In [7]:
#2.palindome
p= ('malayalam')
p=(p[::-1]) #ispalindome
if p:
    print('yes its a palindrome')
else:
    print('its not a palindrome')

yes its a palindrome

In [8]:
#3.uppecase
u='stay positive'
u.upper()

'STAY POSITIVE'

In [9]:
#4.lower case
l='BE BRAVE'
l.lower()

'be brave'

In [3]:
#5.count vowels
def isVowel(ch):
    return ch.upper() in ['A', 'E', 'I', 'O', 'U'] 
def countVowels(str):
    count = 0
    for i in range(len(str)):
        if isVowel(str[i]):
            count += 1
    return count
str = 'sunshine'
print(countVowels(str))

3

In [4]:
#6.consonants
def isConsonant(ch):
    ch = ch.upper()
  
    return not (ch == 'A' or ch == 'E' or 
                ch == 'I' or ch == 'O' or 
                ch == 'U') and ord(ch) >= 65 and ord(ch) <= 90
  
def totalConsonants(string):
      
    count = 0
      
    for i in range(len(string)):
        if (isConsonant(string[i])):
            count += 1
              
    return count
string = "have a bright vision"
print(totalConsonants(string))

10

In [12]:
#7.removing all white spaces
s1='                   women empowerment                    '
s1.strip()

'women empowerment'

In [14]:
#8length of the string without using len function 
s=input()

 Baby bear

In [6]:
count=0
for i in s:
    count=count+1
    print(count)

1
2
3
4
5
6
7
8
9
10
11

In [6]:
#9 find a specific wod in a string
words = 'belief creates the actual fact'

if 'belief' in words:
    print ('yes')
else:
    print ('no')

yes

In [8]:
#10.replacing a string
s2="if you want to shine like a sun, first burn like a sun"
s2.replace('you','we')

'if we want to shine like a sun, first burn like a sun'

In [9]:
#12.first occurance of word
s1='baby boy'
s1.find('b')

0

In [10]:
#13.last occuance of a word
s2='shiningstar'
s2.find('r')

10

In [11]:
#14.split sting into a list of words
l1='my name is lexwanthi , i love painting, my favourite number is 8'
l1.split()

['my',
 'name',
 'is',
 'lexwanthi',
 ',',
 'i',
 'love',
 'painting,',
 'my',
 'favourite',
 'number',
 'is',
 '8']

In [12]:
#15.join list of words into a string
quote=['he who laughs most learns best' '-john cleese']
s=","
s.join(quote)

'he who laughs most learns best-john cleese'

In [13]:
#16.replace white spaces with underscore
a='be your own kind of beautiful'
a.replace(" ","_")

'be_your_own_kind_of_beautiful'

In [14]:
#17.starts with a phrase or specific word
var='she helped to build the roof'
if  var .startswith('she'):
    print('its a phrase not a specific word')

its a phrase not a specific word

In [15]:
#18.ends with a phrase o specific word
var="iam happy"
if  var .endswith("happy"):
    print('its a phrase not a specific word')

its a phrase not a specific word

In [6]:
#19.title case
s="indian women"
s.title()

'Indian Women'

In [1]:
#20.longest word
sentence= input("Enter sentence : ")
longest= max(sentence.split(), key=len)
print('longest word is : ',longest)
print("and its length is : ", len(longest))

Enter sentence :  be a pride of nation

longest word is :  nation
and its length is :  6

In [2]:
#21.shortest word
sentence= input("enter sentence : ")
shortest= min(sentence.split(), key=len)
print('shortest word is : ',shortest)
print('and its length is : ',len(shortest))

enter sentence :  chandrayan 3 launched succesfully

shortest word is :  3
and its length is :  1

In [3]:
#22.reverse
s="success is a journey not a destination"
s[::-1]

'noitanitsed a ton yenruoj a si sseccus'

In [4]:
#23.alphanumeric
A="vishaka2221"
B=A.isalnum()
print(B)

True

In [1]:
#24.extract all digits from string
s= "group2 exams will be held on march12" 
import re
re.findall(r'\d+', "group2 exams will be held on march12")

['2', '12']

In [1]:
# 25.Python3 code to demonstrate working of
# Extract Alphabet only Strings
# Using isalpha() + list comprehension
 
# initializing list
test_list = ['', 'is23', 'best', 'for2', 'geeks']
 
# printing original list
print("The original list is : " + str(test_list))
 
# Extract Alphabet only Strings
# Using isalpha() + list comprehension
res = [sub for sub in test_list if sub.isalpha()]
 
# printing result
print("Strings after filtering : " + str(res))

The original list is : ['gfg', 'is23', 'best', 'for2', 'geeks']
Strings after filtering : ['gfg', 'best', 'geeks']

In [7]:
#26.count the upper case
str_obj = 'i LOVE to eat ICECREAM'

count = sum(1 for elem in str_obj if elem.isupper())

print(count)

12

In [8]:
#27.count the lower case
str_obj = 'i love to EXPLORE myself'

count = sum(1 for elem in str_obj if elem.islower())

print(count)

13

In [9]:
#28.swapping
s=('queen vishaka')
print(s.swapcase())

QUEEN VISHAKA

In [10]:
#29.remove a word from the string 
a1 = "The love of money is the root of all evil"
a2 = a1.replace("all", '')
print(a2)

The love of money is the root of  evil

In [12]:
#30.check if string is valid email address
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
def check(email):
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")
 
# Driver Code
if __name__ == '__main__':
 
    # Enter the email
    email = "lexwanthigowtham@gmail.com"
    check(email)
 
    email = "venky11@gmail.com"
    check(email)
 
    email = "lexi.com"
    check(email)

Valid Email
Valid Email
Invalid Email

In [14]:
#31.extract user name
email = "vishaka@gowlex.com"

name, _, _ = email.partition("@") 
splitname = name.split(".")        

print(splitname)

['vishaka']

In [19]:
#32.domain name
email = "goethamtraders@gmail.com"
domain_name = email.split("@")[1]
print(domain_name)

gmail.com

In [20]:
#33. replace multiple spaces with single spaces
a = "look good         feel      good"
a = " ".join(a.split())
print(a)

look good feel good

In [24]:
#34.valid url
import re

def is_valid_url(url):
    pattern = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
    return bool(re.match(pattern, url))

# Usage
url1 = 'https://www.gowyacademy.com/cat/sample-data'
url2 = "https://api.gowyacademy.com/v1/sample-data/"
url3 = "abcxyz"

print(is_valid_url(url1)) # True
print(is_valid_url(url2)) # True
print(is_valid_url(url3)) # False

True
True
False

In [25]:
#35.protocol extraction
import re
url = 'https://lexigowy.google.com/spreadsheet/ccc?key=blah-blah-blah-blah#gid=1'
result = re.search(r'^http[s]*:\/\/[\w\.]*', url).group()
print(result)

https://lexigowy.google.com

In [26]:
#36.count the frequency
from collections import Counter
string = "piggy bank"

output = Counter(string)

print(output)

Counter({'g': 2, 'p': 1, 'i': 1, 'y': 1, ' ': 1, 'b': 1, 'a': 1, 'n': 1, 'k': 1})

In [27]:
#37.remove all punctuations from a string 
import string

a_string = '!hi. wh?at is the weat[h]er lik?e.'

for character in string.punctuation:
    a_string = a_string.replace(character, '')

print(a_string)

hi what is the weather like

In [29]:
#38.string is a digit
x= "50800"

y= x.isdigit()

print(y)

True

In [30]:
#39.string cotains only alphabets
txt = "sfhjfvju"

x = txt.isalpha()

print(x)

True

In [31]:
#40.string to list
s=("name:lexwanthi,age:23,batch:2023")
list =  s.split()
print(list)

['name:lexwanthi,age:23,batch:2023']

In [37]:
#41.anagram
sorted('anagram')
['a', 'a', 'a', 'g', 'm', 'n', 'r']
sorted('nagaram')
['a', 'a', 'a', 'g', 'm', 'n', 'r']
sorted('anagram') == sorted('nagaram')

True

In [53]:
#42 and 43.decode cc and encode string
c_unicode = ord("c")

A_unicode = ord("A")

print("Unicode of 'c' =", c_unicode)

print("Unicode of 'A' =", A_unicode)

Unicode of 'c' = 99
Unicode of 'A' = 65

In [58]:
#44.most frequent word
from collections import Counter
from functools import reduce
 
def most_frequent_word(test_list):
    all_words = reduce(lambda a, b: a + b, [sub.split() for sub in test_list])
    word_counts = Counter(all_words)
    return word_counts.most_common(1)[0][0]
 
test_list = ["brave lion", "roar", "brave"]
print("The original list is: ", test_list)
print("Word with most frequency: ", most_frequent_word(test_list))

The original list is:  ['brave lion', 'roar', 'brave']
Word with most frequency:  brave

In [59]:
#45.finding unique words
from collections import Counter

str1 = input("Please enter a sentence: ")
words = str1.split(' ')
c = Counter(words)
unique = [w for w in words if c[w] == 1]

print("Unique words: ", unique)

Please enter a sentence:  she see cheese

Unique words:  ['she', 'see', 'cheese']

In [60]:
#46.syllable count
word=input("Enter the word:")
syllable_count=0
for w in word:
      if(w=='a' or w=='e' or w=='i' or w=='o' or w=='u' or w=='A' or w=='E' or w=='I' or w=='O' or w=='U'):
            syllable_count=syllable_count+1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word: fuzzy wuzzy was a bear

The number of syllables in the word is:
6

In [61]:
#47.special characters 
o="hai"
import re
if(bool(re.match('^[a-zA-Z0-9]*$',o))==True):
    print("valid")
else:
    print("invalid")

valid

In [62]:
#48.remove nth word
nreplace=1
my_string="hello my friend"
words=my_string.split(" ")
words[nreplace]="your"
" ".join(words)

'hello your friend'

In [63]:
#49.insert a word
list = ['Sun', 'rises', 'in', 'the', 'east']
list.insert(0, "The")
print(list)

['The', 'Sun', 'rises', 'in', 'the', 'east']

In [64]:
#50.csv string to list
x = 'apple,banana,cherry'
output = x.split(',')
print(output)

['apple', 'banana', 'cherry']

## list based problem

In [71]:
#1.list of int from 1 to 10
numbers =  [1,2,3,4,5,6,7,8,9,10]

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
#2.Python program to find the length of a list without len

# take list
l = [1, 2, 3, 4, 5]

# find length of the list
count = 0
for i in l:
   count = count + 1

# print length of the list
print("The length of a list is", count)

The length of a list is 5

In [73]:
#3.append a element to end of list
l2=['crazy','queen','smiles','lot']
l2.append('joy')
print(l2)

['crazy', 'queen', 'smiles', 'lot', 'joy']

In [74]:
#4.insert 
l=['lunar','on','moon']
l.insert(1,'crack')
print(l)

['lunar', 'crack', 'on', 'moon']

In [75]:
#5.remove
lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
    'Lily', 'Carnations']
print("Original List is :", lst)
 
# using del statement
# to delete item (Orchids at index 1)
# from the list
del lst[1]
print("After deleting the item :", lst)

Original List is : ['Iris', 'Orchids', 'Rose', 'Lavender', 'Lily', 'Carnations']
After deleting the item : ['Iris', 'Rose', 'Lavender', 'Lily', 'Carnations']

In [76]:
#6.remove an element by its index
a = ['a', 'b', 'c', 'd']
a.pop(1)

'b'

In [77]:
#7.check if an element exist in a list
lst=[ 1, 6, 3, 5, 3, 4 ]
#checking if element 7 is present
# in the given list or not
i=7
# if element present then return
# exist otherwise not exist
if i in lst:
    print("exist")
else:
    print("not exist")

not exist

In [78]:
# 8.Finding the index of an item in a list
a_list = ['datagy', 'twitter', 'facebook', 'twitter', 'tiktok', 'youtube']
print(a_list.index('datagy'))

0

In [79]:
#9.count occurrences of element
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
                                        countX(lst, x)))

8 has occurred 5 times

In [80]:
#10.reverse the order of elements
l=[1,3,5,7,9]
l.reverse()
print(l)

[9, 7, 5, 3, 1]

In [81]:
#11.sort in ascending order
l2=['b','l','o','a','i','p']
l2.sort()
print(l2)

['a', 'b', 'i', 'l', 'o', 'p']

In [82]:
#12.sort in desending order
l3=['z','e','a','t']
l3.sort(reverse= True)
print(l3)

['z', 't', 'e', 'a']

In [83]:
#13.list of even number 1 to 20
# python
def EVEN_NUMBERS(num):
    EVEN = []
    for i in range(num):
        if i !=0:
            if i % 2 == 0:
                EVEN.append(i)
    return EVEN

num = 21

print("Even Number: ",EVEN_NUMBERS(num))

Even Number:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [84]:
#14.LIST OF ODD NUMBERS
def ODD_NUMBERS(num):
    ODD = []
    for i in range(num):
        if i % 2 == 1:
            ODD.append(i)
    return ODD

num = 21

print("ODD Number: ",ODD_NUMBERS(num))

ODD Number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [85]:
#15.sum of all elements
total = 0
 
# creating a list
list1 = [11, 5, 17, 18, 23]
 
# Iterate each element in list
# and add them in variable total
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [86]:
#16.maximum value
l1=[1,9,90,435,-78,67]
max_value= max(l1)
print(max_value)

435

In [87]:
#17.minimum value
l1=[12,34,-98,45,67,0]
min_value= min(l1)
print(min_value)

-98

In [88]:
#18.square numbers
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
squared_list = []

for number in my_list:
    squared_list.append(number**2)

print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [89]:
#19.list of random numbers 
import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[4, 8, 9, 5, 9, 7, 7, 9, 6, 6]

In [102]:
# 20.Remove Duplicates from a Python list using a For Loop
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [2]:
#21.common element
list1 = [1,2,3,4,5,6]
list2 = [3, 5, 7, 9]
list(set(list1).intersection(list2))

[3, 5]

In [105]:
#22.difference between two list
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
 
s = set(li2)
temp3 = [x for x in li1 if x not in s]
print(temp3)

[10, 15, 20, 30]

In [106]:
#23.merge two list
list1 = ['datagy', 'is', 'a', 'site']
list2 = ['to', 'learn', 'python']

list3 = list1 + list2

print(list3)

['datagy', 'is', 'a', 'site', 'to', 'learn', 'python']

In [107]:
#24.multiply by 2
my_list = [1, 2, 3, 4, 5]
my_new_list = [i * 2 for i in my_list]
print(my_new_list)

[2, 4, 6, 8, 10]

In [3]:
#25.filter out even numbers
def even(x):
    return x % 2 == 0
 
a = [2, 5, 7, 8, 10, 13, 16]
 
result = filter(even, a)
print('Original List :', a)
print('Filtered List :', list(result))

Original List : [2, 5, 7, 8, 10, 13, 16]
Filtered List : [2, 8, 10, 16]

In [109]:
#26.list of str to list of int
l=['1','2','3','4','5']

for i in range(0,len(l)):
    l[i]=int(l[i])
    print(l[i])

1
2
3
4
5

In [4]:
#27.list of int to str
list_int = [1, 12, 15, 21, 131]
list_string = map(str, list_int)
print(list(list_string))

['1', '12', '15', '21', '131']

In [111]:
#28.flatten a nested list
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
#29.fibonacci number
>>> def fibonacci_of(n):
...     if n in {0, 1}:  # Base case
...         return n
...     return fibonacci_of(n - 1) + fibonacci_of(n - 2)  # Recursive case
...

>>> [fibonacci_of(n) for n in range(10)]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [15]:
#30.list is sorted
test_list = [1, 4, 5, 8, 10]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using sorted() to
# check sorted list
flag = 0
if(test_list == sorted(test_list)):
    flag = 1
     
# printing result
if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [16]:
#31,32 rotation of list
test_list = [1, 4, 6, 7, 2]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using list comprehension to left rotate by 3
test_list = [test_list[(i + 3) % len(test_list)]
            for i, x in enumerate(test_list)]
 
# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))
 
# using list comprehension to right rotate by 3
# back to Original
test_list = [test_list[(i - 3) % len(test_list)]
            for i, x in enumerate(test_list)]
 
# Printing after right rotate
print ("List after right rotate by 3(back to original) : "
                                        + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [7, 2, 1, 4, 6]
List after right rotate by 3(back to original) : [1, 4, 6, 7, 2]

In [115]:
#33.list of prime numbers upto 50
for num in range(1, 51):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [116]:
#34.split list into chunks
import numpy as np

lst = range(50)
np.array_split(lst, 5)

[array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
 array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),
 array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39]),
 array([40, 41, 42, 43, 44, 45, 46, 47, 48, 49])]

In [17]:
#35.second largest number
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]

list2 = list(set(list1))
 
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [118]:
#36.replace with square

def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)

square_list([1, 2, 3, 4, 5])

[1, 16, 9, 4, 25]

In [119]:
 #37.list to dict
lst = ['A', 'B', 'C']
{k: v for v, k in enumerate(lst)}
{'A': 0, 'C': 2, 'B': 1}

{'A': 0, 'C': 2, 'B': 1}

In [120]:
#38.shuffle element randomly
import random

a_list = ['welcome', 'to', 'datagy', 'where', 'you', 'will', 'learn', 'Python', 'and', 'more']
random.shuffle(a_list)

print(a_list)

['more', 'Python', 'you', 'to', 'datagy', 'where', 'will', 'learn', 'and', 'welcome']

In [121]:
#39.first 10 factorial num
lst = [1] + [i for i in range(1,10)]
lst[1:10] = [lst[i-1] * i for i in range(1,10)]
print(lst)

[1, 1, 2, 6, 12, 20, 30, 42, 56, 72]

In [122]:
#40.common element
# have any element in common
list1 = [1, 2, 3, 4, 55]
list2 = [2, 3, 90, 22]
 
out = any(check in list1 for check in list2)
 
if out:
    print("True")
else :
    print("False")

True

In [123]:
#41.remove all element
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("The original list is:")
print(myList)
# deleting elements using the pop() method
while myList:
    myList.pop()
print("List after deleting all the elements:",myList)

The original list is:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
List after deleting all the elements: []

In [124]:
#42.replace negative number with zero
given_list = [1, 2, 3, 4, -1, -4, 5, -6]

print(f'List before changes: {given_list}')

for i in range(len(given_list)):
    if given_list[i] < 0:
        given_list[i] = 0

print(f'List after changes: {given_list}')

List before changes: [1, 2, 3, 4, -1, -4, 5, -6]
List after changes: [1, 2, 3, 4, 0, 0, 5, 0]

In [125]:
#43.convert str to list
string = 'This is a string, with words!'
string.split()

['This', 'is', 'a', 'string,', 'with', 'words!']

In [126]:
#44.convert list into string
def listToString(s):
    str1 = " "
    return (str1.join(s))
s = ['piece', 'of', 'paper']
print(listToString(s))

piece of paper

In [18]:
#45.n power of 2
def gen(x):
   i = 2
   for n in range(x + 1):
       yield i
       i <<= 1

list(gen(4))

[2, 4, 8, 16, 32]

In [19]:
#46.longest str
test_list = ['love', 'makes', 'life', 'beautiful']
 
print("The original list : " + str(test_list))
res = max(test_list, key = len)
print("Maximum length string is : " + res)

The original list : ['love', 'makes', 'life', 'beautiful']
Maximum length string is : beautiful

In [20]:
#47.shortest str 
test_list = ['gfg', 'is', 'best']
print("The original list : " + str(test_list))
res = len(min(test_list, key=len))
print("Length of minimum string is : " + str(res))

The original list : ['gfg', 'is', 'best']
Length of minimum string is : 2

In [130]:
#48.triangular numbers
limit = n
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [131]:
#49.list containts another lis as subsequence
items = set([-1, 0, 1, 2])
set([1, 2]).issubset(items)
True
set([1, 3]).issubset(items)
False

False

In [132]:
#50.swap
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

# Tupel based problems

In [133]:
#1.1 to 5
t=(1,2,3,4,5)
type(t)

tuple

In [134]:
#2.access third element

thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [135]:
#3.length of tupel
tup = (2, 22, 44, 66, 88, 122, 142)

counter = 0

for i in tup:
    counter += 1

print(counter)

7

In [136]:
#4.count occurence
numbers = (1, 3, 4, 1, 6 ,1 )
count = numbers.count(1)
print('The count of 1 is:', count)

The count of 1 is: 3

In [137]:
#5.index of first occurrence
my_tuple = ( 4, 2, 5, 6, 7, 5)
print(my_tuple.index(4))

0

In [21]:
#6.check if a element exist in tupel
test_tuple = (("datascience", "pro"), ("pwskills", "best"))
print("The original tuple is " + str(test_tuple))
if (any('datascience' in i for i in test_tuple)):
    print("datascience is present")
else:
    print("datascience is not present")

The original tuple is (('datascience', 'pro'), ('pwskills', 'best'))
datascience is present

In [22]:
#7.tupel to list
value = (10, 20, 30, 40, 50)
my_tuple = list(value)
print(my_tuple)

[10, 20, 30, 40, 50]

In [140]:
#8.list to tupel
def convert(list):
    return tuple(list)
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [141]:
#9.unpacking
a = ("paavai college", 5000, "Engineering") 
(college, student, type_ofcollege) = a 
print(college)
print(student)
print(type_ofcollege)

paavai college
5000
Engineering

In [142]:
#10.tupel of even number

evTuple = (1,2,3,4,5,6,7,8,9,10)
print("Tuple Items = ", evTuple)

print("\nThe Even Numbers in this evTuple Tuple are:")
for i in range(len(evTuple)):
    if(evTuple[i] % 2 == 0):
        print(evTuple[i], end = "  ")

Tuple Items =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Even Numbers in this evTuple Tuple are:
2  4  6  8  10

In [143]:
#11.tupel of odd number

oddTuple = (1,2,3,4,5,6,7,8,9,10)
print("Odd Tuple Items = ", oddTuple)

print("\nThe Odd Numbers in oddTuple Tuple are:")
for i in range(len(oddTuple)):
    if(oddTuple[i] % 2 != 0):
        print(oddTuple[i], end = "  ")

Odd Tuple Items =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Odd Numbers in oddTuple Tuple are:
1  3  5  7  9

In [23]:
#12.concate two tuples
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = test_tup1 + test_tup2
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [24]:
#13.repeat tuples 3 times
test_tup = (1, 3)
print("The original tuple : " + str(test_tup))
N = 3
res = ((test_tup, ) * N)
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 3)
The duplicated tuple elements are : ((1, 3), (1, 3), (1, 3))

In [146]:
#14.check tuple is empty
t1 = ()
t2 = (1, 2, 3)
print(len(t1)==0)
print(len(t2)==0)

True
False

In [147]:
#15.create a nested tuple
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'basic')
 
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'basic'))

In [148]:
#16.access first element of nested tuple
lst = [1, (2, 3)]
lst[1][1]

3

In [149]:
#17.create tuples with single element
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [25]:
#18.compare two tuples
test_tup1 = (10, 4, 5)
test_tup2 = (13, 5, 18)
#printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
#comparing elements in the tuples
res = False
if test_tup2 > test_tup1:
    res = True
# printing result
print("Are all elements in second tuple greater than first ? : " + str(res))

The original tuple 1 : (10, 4, 5)
The original tuple 2 : (13, 5, 18)
Are all elements in second tuple greater than first ? : True

In [152]:
#19.delete a tuple
t=('baby','bus')
del (t)
#ask t it will shows error

In [153]:
#20.slice a tuple
aTuple = (2, 5, 8, 1, 9, 3, 7, 4)
stop = 4
indices = slice(stop)
result = aTuple[indices]
print('Sliced Tuple :', result)

Sliced Tuple : (2, 5, 8, 1)

In [156]:
#21.maximum value of 
Tuple = ( 1, 3, 4, 2, 5, 6 )
   
res = max(Tuple)
print('Maximum of Tuple is', res)

Maximum of Tuple is 6

In [155]:
#22.minimum value of tuple
Tuple = ( 1, 3, 4, 2, 5, 6 )
   
res = min(Tuple)
print('Mainimu of Tuple is', res)

Mainimu of Tuple is 1

In [26]:
#23.convert a str to tup
test_str = "1, -5, 4, 6, 7"
print("The original string : " + str(test_str))
res = eval(test_str)
print("Tuple after getting conversion from String : " + str(res))

The original string : 1, -5, 4, 6, 7
Tuple after getting conversion from String : (1, -5, 4, 6, 7)

In [158]:
#24.convert a tuple of character to a string
def convertTuple(tup):
    str = ''
    for item in tup:
        str = str + item
    return str
tuple = ('u', 'n', 'i', 'c', 'o','r','n')
str = convertTuple(tuple)
print(str)

unicorn

In [159]:
#25.create a tuple from multiple data type
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [27]:
#26.check if two tuples ae identical
test_list1 = [(10, 4), (2, 5)]
test_list2 = [(10, 4), (2, 5)]
print("The original list 1 : " + str(test_list1))
print("The original list 2 : " + str(test_list2))
res = test_list1 == test_list2
print("Are tuple lists identical ? : " + str(res))

The original list 1 : [(10, 4), (2, 5)]
The original list 2 : [(10, 4), (2, 5)]
Are tuple lists identical ? : True

In [28]:
#27.sort
myTuple=(11,2,44,21,15,4,23,12)
myList=list(myTuple)
myList.sort()
output=tuple(myList)
print("The original tuple is:")
print(myTuple)
print("The sorted tuple is:")
print(output)

The original tuple is:
(11, 2, 44, 21, 15, 4, 23, 12)
The sorted tuple is:
(2, 4, 11, 12, 15, 21, 23, 44)

In [29]:
#28.convert tup of int to str
test_str = "(7, 8, 9)"
print("The original string is : " + test_str)
res = eval(test_str)
print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [30]:
#29.convert tup of str to int
test_str = "(7, 8, 9)"
print("The original string is : " + test_str)
res = eval(test_str)
print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [164]:
#30.merge
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [31]:
#31. flatten a nested tupel
import itertools
 
# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Flatten Nested Tuples using itertools.chain.from_iterable()
res = tuple(itertools.chain.from_iterable(test_tuple))
 
# printing result
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : (4, 5, (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

In [166]:
#32.first five prime num
count = 0

while(count <= 5):
    for i in range(2, 5):
        for j in range(2, i):
            if i < j:
                print("The number",i,"is prime")
            elif i % j == 0:
                break
        else:
            print("The number",i,"is prime")
            count = count + 1
            print(count)

The number 2 is prime
1
The number 3 is prime
2
The number 2 is prime
3
The number 3 is prime
4
The number 2 is prime
5
The number 3 is prime
6

In [167]:
#33.palindrome
def reverse(text):
    return text[::-1]

def is_palindrome(text):
    return text == reverse(text)

something = input("Enter text: ")
if is_palindrome(something):
    print("Yes, it is a palindrome")

Enter text:  baby bear

In [9]:
#34.square the number
def square(num):
    return num * num

number = float(input(" Please Enter any numeric Value : "))

sqre = square(number)

print("The Square of a Given Number {0}  = {1}".format(number, sqre))

 Please Enter any numeric Value :  4

The Square of a Given Number 4.0  = 16.0

In [11]:
#35.all even numbers
test_list = [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7, )]
print("The original list is : " + str(test_list))
res = [sub for sub in test_list if all(ele % 2 == 0 for ele in sub)]
print("Filtered Tuples : " + str(res))

The original list is : [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7,)]
Filtered Tuples : [(6, 4, 2, 8), (8, 0, 2)]

In [13]:
#36.multiple element by 2
import math

my_tuple = (5, 3)

by_two = tuple(2 * elem for elem in my_tuple)

print(by_two)

(10, 6)

In [15]:
#37.random numbers
import random
N = 5
R = 10
res = [divmod(ele, R + 1) for ele in random.sample(range((R + 1) * (R + 1)), N)]
print("The N random tuples : " + str(res))

The N random tuples : [(2, 8), (10, 1), (8, 6), (10, 10), (10, 8)]

In [17]:
#38.check tuple is sorted
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] < t[i-1]:
            return False
    return True
# create a tuple
t = (1, 2, 3, 4, 5)
print(is_tuple_sorted(t))

True

In [18]:
#39.rotate tup to left
def rotate(L, d, n):
    k = L.index(d)
    new_lis = []
    new_lis = L[k+1:]+L[0:k+1]
    return new_lis
 
 
if __name__ == '__main__':
    arr = [1, 2, 3, 4, 5, 6, 7]
    d = 2
    N = len(arr)
 
    # Function call
    arr = rotate(arr, d, N)
    for i in arr:
        print(i, end=" ")

3 4 5 6 7 1 2

In [20]:
#40. rotate a tup to right
import typing


def rotate_block(block: typing.Tuple[float, float]):
    width, height = block

    return height, width


input_block = (3.14, 2.71)

print(rotate_block(input_block))

(2.71, 3.14)

In [26]:
#41. Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms?  5

Fibonacci sequence:
0
1
1
2
3

In [27]:
#42.tup from user input
a=input ('some text : ') 
print (a)

some text :  boss baby

boss baby

In [29]:
#43. create a tuple
t = ('look', 'good', 'feel', 'good')
# convert the tuple to list
ls = list(t)
# swap the elements in the list using their index
ls[0], ls[1] = ls[1], ls[0]
# create a new tuple from the list elements
new_t = tuple(ls)
# print the new tuple
print(new_t)

('good', 'look', 'feel', 'good')

In [30]:
#44.reverse a tuple
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [34]:
#45.power of 2
from operator import pow
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 6, 7, 5)
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = tuple(map(pow, test_tup1, test_tup2))
print("The exponentiated tuple : " + str(res))

The original tuple 1 : (10, 4, 5, 6)
The original tuple 2 : (5, 6, 7, 5)
The exponentiated tuple : (100000, 4096, 78125, 7776)

In [3]:
#46.longest
tup = eval(input("Enter the string tuple = "))
long = tup [ 0 ]
for i in tup :
    if len(i) > len( long ) :
        long = i
print("longest string in tuple = ",long)

Enter the string tuple =  ('air', 'water', 'land')

longest string in tuple =  water

In [2]:
#47. smallest 
tup = eval(input("Enter the string tuple = "))
short = tup [ 0 ]
for i in tup :
    if len(i) < len( short ) :
        short = i
print("Smallest string in tuple = ",short)

Enter the string tuple =  ('LEXI', 'VENKY', 'GOWY', 'VISHAKA')

Smallest string in tuple =  LEXI

In [7]:
#48.triangular number
n=int(input("Please Enter n:"))
y1=((n**2)+n)/(2)   
print (y1)

Please Enter n: 12

78.0

In [9]:
#49.tuple contains another tuple as subsequences
tuple_A = (1,2,3,4)
tuple_B = (1,3,5,4,2,6)
if set(tuple_A).issubset(tuple_B):
    print(True)
else:
    print (False)

True

In [9]:
#50.
def generate(Tuple, n):
    if len(Tuple) == n:
        print (Tuple)
    else:   
        if Tuple.count(1) >= n / 2:     
            generate(Tuple + (0, ), n) 
        else:
            generate(Tuple + (1, ), n)
            generate(Tuple + (0, ), n)

if __name__ == '__main__':      
    n = 4
    generate((), n)

(1, 1, 0, 0)
(1, 0, 1, 0)
(1, 0, 0, 1)
(1, 0, 0, 0)
(0, 1, 1, 0)
(0, 1, 0, 1)
(0, 1, 0, 0)
(0, 0, 1, 1)
(0, 0, 1, 0)
(0, 0, 0, 1)
(0, 0, 0, 0)

# set based problem

In [11]:
#1.set with integer 1 to 5
s={1,2,3,4,5}

In [19]:
#2.add element
numbers = {2, 3, 5, 7}
numbers.add(11)
print(numbers)

{2, 3, 5, 7, 11}

In [20]:
#3.remove element
languages = {'Python', 'Java', 'English'}
languages.remove('English')
print(languages)

{'Java', 'Python'}

In [25]:
#4.element exist in set
fruit = {"apple", "banana", "cherry"}

if "apple" in fruit:

     print("Yes, 'apple' is in this set")

Yes, 'apple' is in this set

In [1]:
#5.length of set
  
set1 = set()  
set1.add(8) 
set1.add(9) 
set1.add((6, 7)) 
  
print("The length of set is:", len(set1))

The length of set is: 3

In [2]:
#6.clear all element
s = {2, 3, 5, 7}
s.clear()
print(s)

set()

In [9]:
#7.set of even numbers
evSet = {1,2,3,4,5,6,7,8,9,10}
print("Even Set Items = ", evSet)

print("\nThe Even Numbers in this evSet Set are:")
for val in evSet:
    if(val % 2 == 0):
        print(val, end = "  ")

Even Set Items =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The Even Numbers in this evSet Set are:
2  4  6  8  10

In [10]:
#8.odd numbers
oddSet = {1,2,3,4,5,6,7,8,9,10}
print("Odd Set Items = ", oddSet)

print("\nThe Odd Numbers in this oddSet Set are:")
for odval in oddSet:
    if(odval % 2 != 0):
        print(odval, end = "  ")

Odd Set Items =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The Odd Numbers in this oddSet Set are:
1  3  5  7  9

In [12]:
#9.union of two sets
x = {'a', 'b', 'c', 'd'}
y = {'e', 'f', 'g', 'h'}
 
print('Items in x = ', x)
print('Items in y = ', y)
 
z = x.union(y)
 
print('Items in z = ', z)

Items in x =  {'b', 'c', 'd', 'a'}
Items in y =  {'g', 'e', 'f', 'h'}
Items in z =  {'g', 'b', 'c', 'f', 'a', 'e', 'd', 'h'}

In [13]:
#10.intersection
A = {1, 2, 3}
B = {2, 3, 4}
AnB = A.intersection(B)
print(AnB)

{2, 3}

In [14]:
#11.find difference
A = {1, 3, 5, 7, 9}
B = {2, 3, 5, 7, 11}
print(A.difference(B))

{1, 9}

In [15]:
#12.subset of another set
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [17]:
#13.issuperset
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

In [21]:
#14.create set from list
list1=["C:\\","D:\\","E:\\","C:\\"]
set1=set(list1)
set1
set(['E:\\', 'D:\\', 'C:\\'])

{'C:\\', 'D:\\', 'E:\\'}

In [24]:
#15. convert a set into a list
def convert(set):
    return sorted(set)
my_set = {1, 2, 3}
 
s = set(my_set)
print(convert(s))

[1, 2, 3]

In [38]:
#16.remove element
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [39]:
#17.pop element
s1 = {9, 1, 0}
s1.pop()
print(s1)

{9, 1}

In [42]:
#18.check sets are common
a = {23,45,78,8,56}
b = {42,55,26,87}
z = {87,46}
print("a :",a)
print("b :",b)
print("Z :",z)
print("\nTwo given sets have no Elements in Common..")
print("\nCompare A and B : ",a.isdisjoint(b))
print("Compare B and Z : ",b.isdisjoint(z))
print("Compare A and Z : ",z.isdisjoint(a))

a : {23, 8, 56, 45, 78}
b : {42, 26, 55, 87}
Z : {46, 87}

Two given sets have no Elements in Common..

Compare A and B :  True
Compare B and Z :  False
Compare A and Z :  True

In [43]:
#19.find symmetric difference between two set
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

In [44]:
#20.update
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'banana', 'google', 'microsoft', 'apple'}

In [48]:
#21.prime num
for num in range(1,6):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        print (num)

1
2
3
5

In [49]:
#22.identical
first_set = {'one', 'two', 'three'}
second_set = {'one', 'two', 'three'}

print(first_set == second_set)

True

In [20]:
#23.frozen set
animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [52]:
#24.disjoint
def areDisjoint(set1, set2, m, n):
    set1.sort()
    set2.sort()
    i = 0; j = 0
    while (i < m and j < n):
         
        if (set1[i] < set2[j]):
            i += 1
        elif (set2[j] < set1[i]):
            j += 1
        else: 
            return False
    return True
 
 
# Driver Code
set1 = [12, 34, 11, 9, 3]
set2 = [7, 2, 1, 5]
m = len(set1)
n = len(set2)
 
print("Yes") if areDisjoint(set1, set2, m, n) else print("No")

Yes

In [9]:
#25.set of square numbers
s={1,2,3,4}
for a in range(1, 6):
    print(a ** 2)

1
4
9
16

In [14]:
#26.even numbers
a = {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

b = {i for i in a if i % 2 == 0}

print("Original set -->", a,"\n")
print("and the Even Numbers-->", b)

Original set --> {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

and the Even Numbers--> {64, 100, 4, 36, 16}

In [18]:
#27.multiply set by 2
setnumber = {1, 2, 3, 4, 5}
newset = {item*2 for item in setnumber}
print(newset)

{2, 4, 6, 8, 10}

In [22]:
#28.set of random number
import random
set = (1, "Hello", 38, 44.45, "Apples", False) 
  
print("An element from the set:" , random.choice(set))

An element from the set: Hello

In [23]:
#29.check if set is empty
MySet = {}
if not MySet:
    print ("set is empty")
else:
    print ("set is not empty")

set is empty

In [10]:
#30.nested set
t = [[], [1, 2], [5], [1, 2, 5], [1, 2, 3, 4], [1, 2, 3, 6]]
t1 = set(frozenset(i) for i in t)
print(t1)

{frozenset({1, 2}), frozenset({1, 2, 5}), frozenset({1, 2, 3, 4}), frozenset(), frozenset({1, 2, 3, 6}), frozenset({5})}

In [13]:
#31.remove element using discard method
def Remove(sets):
    sets.discard(20)
    print (sets)
     
# Driver Code
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{41, 10, 54, 26}

In [15]:
#32.compare two sets
{1, 2} < {1, 2, 3}  
{1, 2} < {1, 3}  
{1, 2} < {1, 2}  
{1, 2} <= {1, 2}

True

In [19]:
#33.create set from string
string = "lexi"
print("Initially")
print("The datatype of string : " + str(type(string)))
print("Contents of string : " + string)
string = set(string)
print("\nAfter the conversion")
print("The datatype of string : " + str(type(string)))
print("Contents of string : ", string)

Initially
The datatype of string : <class 'str'>
Contents of string : lexi

After the conversion
The datatype of string : <class 'set'>
Contents of string :  {'i', 'l', 'x', 'e'}

In [1]:
#34.set of str to set of int
set1= { '1', '2' }
set2 = set(map(int, set1))
set2
set([1, 2])

{1, 2}

In [2]:
#35.int to str
num = 10
 
# check  and print type of num variable
print("Type of variable before conversion : ", type(num))
 
# convert the num into string
converted_num = str(num)
 
# check  and print type converted_num variable
print("Type After conversion : ",type(converted_num))

Type of variable before conversion :  <class 'int'>
Type After conversion :  <class 'str'>

In [3]:
#36.from tup
s = {'a', 'b', 'c', 'd', 'e'}
print(type(s), " ", s)
t = tuple(s)
print(type(t), " ", t)

<class 'set'>   {'b', 'd', 'a', 'c', 'e'}
<class 'tuple'>   ('b', 'd', 'a', 'c', 'e')

In [4]:
#37. set to tup
s = {'a', 'b', 'c', 'd', 'e'}
x=[i for i in s]
print(tuple(x))

('b', 'd', 'a', 'c', 'e')

In [5]:
#38.maximum
# Python code to get the maximum element from a set
def MAX(sets):
    return (max(sets))
     
# Driver Code
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
print(MAX(sets))

65

In [6]:
#39.minimum

# Python code to get the minimum element from a set
def MIN(sets):
    return (min(sets))
     
# Driver Code
sets = set([4, 12, 10, 9, 4, 13])
print(MIN(sets))

4

In [7]:
#40.set fom user input
import ast

my_set = set(input('Enter space-separated words: ').split())

print(my_set)

Enter space-separated words:  i have a beautiful girl baby

{'baby', 'a', 'i', 'beautiful', 'have', 'girl'}

In [8]:
#41.intersection of two sets are empty?
set1 = set([1,2])
set2 = set([2,3])
if(set1 & set2):
  print("Non-empty intersection")
else:
  print("Empty intersection")

Non-empty intersection

In [15]:
#42.fibonacci numbers
n = 5
num1 = 0
num2 = 1
next_number = num2 
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8

In [16]:
#43.remove duplicates from list using sets
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
        + str(test_list))
 
# using set() to remove duplicated from list
test_list = list(set(test_list))
 
# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
        + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [18]:
#44.
first_set = {'one', 'two', 'three'}
second_set = {'one', 'two', 'three', 'four'}

if len(first_set.difference(second_set)) == 0:
    print('Both sets are equal')
else:
    print('Sets are not equal')

Both sets are equal

In [28]:
#45.
powers = [1 for i in range(n)]
for i in range(1, n):
    powers[i] = powers[i - 1] * 2
    print(powers[i])

2
4
8
16

In [31]:
#46.common element

# function
def common_member(a, b):   
    a_set = set(a)
    b_set = set(b)
     
    # check length
    if len(a_set.intersection(b_set)) > 0:
        return(a_set.intersection(b_set)) 
    else:
        return("no common elements")
     
  
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))
  
a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

{5}
no common elements

In [33]:
#47.triangular num
def triangular_series( n ):
    j = 1
    k = 1
    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1 
        k = k + j
n = 5
triangular_series(n)

1 3 6 10 15

In [35]:
#48.subset
s = set([1,2,3])
t = set([1,2])
t.issubset(s)
True
s.issuperset(t)
True

True

In [46]:
#49.
import numpy as np
n = 4
arr = ([0,1])
print(np.tile(arr,(n,n//2)))

[[0 1 0 1]
 [0 1 0 1]
 [0 1 0 1]
 [0 1 0 1]]

In [47]:
#50.merge multiple sets
if __name__ == '__main__':
 
    x = {1, 3}
    y = {5}
    z = {7, 9}
 
    s = set().union(x).union(y).union(z)
 
    print(s)

{1, 3, 5, 7, 9}

#                                           THANK YOU